# ===========================
# IDEs & Editor Directories
# ===========================
.vs/
.vscode/
**/.llms/
/.ipynb_checkpoints

# ===========================
# Python Virtual Environments
# ===========================
venv/
.venv/
env/

# ===========================
# Python Artifacts
# ===========================
*.pyc
*.rope*
__pycache__/
*.log
outputs/familytree

# ===========================
# macOS System Files
# ===========================
.DS_Store
*.lnk

# ===========================
# Temporary & Backup Files
# ===========================
*~
*#
*.#
*.bak
**reference/outputs/

# ===========================A
# Data & Experiment Files
# ===========================
*.csv
*.xlsx
**/data/

# ===========================
# Image Files
# ===========================
*.jpg
*.svg
sauceballtree.afdesign

